@media screen and (max-width:806px) {
    main #content h1 {
        font-size: 2.6rem;
        margin-top: 11rem;
    }

    main #content .content__flex {
        flex-flow: column wrap;
    }

    main #content .content__flex aside p {
        text-align: center;
    }

    main #content .content__flex aside {
        height: 36rem;

    }

    #content .content__flex .foto-principal {
        margin-bottom: 6rem;
        width: 30rem;
        height: 30rem;
    }
}