 body {
     overflow-x: hidden;
 }

 main {
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background-image: linear-gradient(to bottom, #ffd7c0, #ffffff);
 }

 main #content {
     display: flex;
     flex-flow: column wrap;
     justify-content: center;
     align-items: center;
     margin: 0 1rem;
 }

 main h1 {
     font-size: 3rem;
     font-weight: var(--bold);
     text-align: center;
     margin-bottom: 6rem;
 }

 .content__flex {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-flow: row wrap;
     column-gap: 5rem;
 }

 .content__flex .foto-principal {
     height: 36rem;
     width: 36rem;
     border-radius: 50%;
     background-image: url(https://raw.githubusercontent.com/PauloAdson/dia-dos-namorados/main/assets/images/gisele-paulo.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
 }

 .content__flex aside {
     width: 36rem;
 }

 .content__flex aside p {
     font-size: 1.6rem;
     line-height: 2.5rem;
     text-align: justify;
 }

 #album h2 {
     font-size: 3rem;
 }

 #album {
     margin-bottom: 6rem;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: column wrap;
     gap: 1rem;
 }

 #album .foto-album {
     height: 30rem;
 }

 body footer {
     background-color: rgb(255, 215, 192, 0.3);
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 7rem;
     flex-flow: column wrap;
 }

 .margin {
     margin-bottom: 1rem;
 }

 footer p a {
     color: #525252;
     text-decoration: underline;
 }